# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

logs
project/project
project/target
target
tmp
.history
dist

*~

*.iml
*.ipr
*.iws
.idea
.idea_modules