@()(implicit request: play.api.mvc.Request[AnyContent])


@main(Html("Form samples")) {

    <div class="page-header">
        <h1>Form samples</h1>
    </div>

    <h2>Sign up form</h2>
    
    <p>
        Demonstrate a classical sign up form.
    </p>
    
    <p>
        <a class="btn js-pjax" data-pjax="#contentArea" href="@routes.SignUp.form">View sample »</a>
    </p>
    
    <h2>Contact form</h2>
    
    <p>
        Demonstrate a contact manager that allow to add complex contact informations.
    </p>
    
    <p>
        <a class="btn js-pjax" data-pjax="#contentArea" href="@routes.Contacts.form">View sample »</a>
    </p>
    
}