@(title: Html, nav: String = "")(content: Html)(implicit request: play.api.mvc.Request[AnyContent])

@* check for the pjax header *@
@if(request.headers.get("X-PJAX").isDefined) {
        <title>@title</title>

        @content

        <script>console.log("pjax template loaded");</script>
} else {
@* normal request, not pjax *@
<!DOCTYPE html>

<html>
    <head>
        <title>Form samples</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.validate.js")"></script>
    </head>
    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand js-pjax" data-pjax="#contentArea" href="@routes.Application.index()">Forms</a>
                    <ul class="nav">
                        <li class="@("active".when(nav == "signup"))">
                            <a class="js-pjax" data-pjax="#contentArea" href="@routes.SignUp.form">Sign up</a>
                        </li>
                        <li class="@("active".when(nav == "contact"))">
                            <a class="js-pjax" data-pjax="#contentArea" href="@routes.Contacts.form">Contacts</a>
                        </li>
						<li class="@("active".when(nav == "comment"))">
                            <a class="js-pjax" data-pjax="#contentArea" href="@routes.Comments.form">Comments</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">

                <div class="row">
                    <div id="contentArea" class="span14">
                        @content
                    </div>
                </div>
                
            </div>

            <footer>
                <p>
                    <a href="http://www.playframework.org">www.playframework.org</a>
                </p>
            </footer>

        </div>

        @* Load and call pjax lib *@
        <script src="@routes.Assets.at("javascripts/jquery.pjax.js")" type="text/javascript"></script>
        <script type="text/javascript">
            //some logging to mark if we are in a pjax request or not in the JS console
            console.log("normal request template loaded");

            $(function(){
                //we only set pjax if the browser supports it
                if($.support.pjax) {

                    //This code ensures that we won't use Pjax if the user has pressed a modifier key when clicking,
                    //as some OS/browsers may have special behaviour linked to it
                    $(document).on("click", "a.js-pjax", function(event) {
                        if (!event.altKey && !event.ctrlKey && !event.metaKey && !event.shiftKey) {
                            event.preventDefault();
                            //call pjax
                            console.log("Ready to call Pjax");
                            $.pjax({
                                url: $(this).attr('href'),
                                container: '#contentArea',
                                timeout: null,
                                error: function(xhr, err){
                                    alert('Something went wrong: ' + err)
                                }
                            });
                        } else {
                            console.log("Modifier key pressed, no Pjax call executed");
                        }
                    });

                    //uncomment to outline the anchors that have pjax enabled
                    //$('.js-pjax]').css("border", "3px double red");


                    //below we have all Pjax events. They print a message on console to see the order

                    //start and end are relevant for user feedback. On slow mobile networks the Pjax request may be slow
                    //and if we don't give visual feedback (like a "loading" gif) the user may believe that the site is broken
                    $('#contentArea').on('pjax:start', function() { console.log("pjax:start"); });
                    $('#contentArea').on('pjax:end',   function() { console.log("pjax:end"); });

                    //Other events
                    $('#contentArea').on('pjax:beforeSend',   function() { console.log("pjax:beforeSend"); });
                    $('#contentArea').on('pjax:complete',   function() { console.log("pjax:complete"); });
                    $('#contentArea').on('pjax:success',   function() { console.log("pjax:success"); });
                    $('#contentArea').on('pjax:error',   function() { console.log("pjax:error"); });
                    $('#contentArea').on('pjax:timeout',   function() { console.log("pjax:timeout"); });
                }
            });
        </script>
    </body>
</html>
} @* End else *@

